In [2]:
import pandas as pd
import numpy as np

In [3]:
data_path = '/Users/jiangxiaoyu/Desktop/Arthur_datasets/db_100samples_3m_9m_48m.csv'
data = pd.read_csv(data_path)

In [7]:
data

              ProbeID         ID  Timestamp     Input
0          cg26928153  010-04004          3  0.928026
1          cg26928153  010-04020          3  0.931293
2          cg26928153  010-04048          3  0.926445
3          cg26928153  010-04082          3  0.939035
4          cg26928153  010-04126          3  0.944873
...               ...        ...        ...       ...
228133795  cg09226288  010-21530         48  0.579035
228133796  cg09226288  010-21534         48  0.518339
228133797  cg09226288  010-21548         48  0.581461
228133798  cg09226288  010-21619         48  0.605975
228133799  cg09226288  010-21640         48  0.523985

[228133800 rows x 4 columns]

In [10]:
data[data['ProbeID']=='cg26933021'][data['ID']=='010-21240']

/var/folders/99/mtmjrwjx3jn6zlq8zjmrl1fr0000gn/T/ipykernel_919/1480895949.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['ProbeID']=='cg26933021'][data['ID']=='010-21240']

              ProbeID         ID  Timestamp     Input
950182     cg26933021  010-21240          3  0.853601
76994782   cg26933021  010-21240          9  0.865889
153039382  cg26933021  010-21240         48  0.844955

In [5]:
data['Timestamp'].unique().shape

(3,)